<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
</head>

<body>
    <h4>Hello {{username}}</h4>
    <br>
    <div style="background-color:white;color:red;padding:20px;">
        Category: {{catName}} <br>
        Product: {{proName}} <br>
        Price: {{price}} <br>
        Order Date: {{Date}} <br>
    </div>
    <br>
    <h5>Thanks and Regards,</h5>
    <h4>Arijit Bose</h4>

</body>

</html>